body {
    background: url("../img/fons/jpg2.jpg") fixed;
}

.container {
    background-color: #fff;
    padding: 10px 10px 10px 10px;
    min-width: 993px;
    margin-top: 5%;
    margin-bottom: 5%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 5px;
    -webkit-box-shadow: -6px 12px 50px black;
    -moz-box-shadow: -6px 12px 50px black;
    box-shadow: -6px 12px 50px black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Cursive, Comic Sans MS, sans-serif;
    font-weight: bold;
}

hr {
    margin: 15px 15px 10px 15px;
    border: 0;
    border-top: 3px solid black;
}

header {
    height: 450px;
    background-image: url(../img/jpg17.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 61% 100%;
    font-family: Cursive, Comic Sans MS, sans-serif;
}

header div>h1, p {
    padding-right: 15px;
    padding-left: 15px;
}

header div>p {
    margin-top: 20px;
}

#clientName {
}

#petType {
    margin: 0 0 0 0;
}

#petName {
}

#petSex {
}

#petAge {
}

form {
    width: auto;
    margin: 30px 0 0 367px;
}

form input {
    padding: 5px;
    margin-bottom: 6px;
}

.input-control {
    display: initial;
    width: 323px;
    clear: both;
}

form input:first-child {
    margin: 0 0 11px 156px;
}

form select {
    padding: 5px;
    margin-bottom: 6px;
}

form input[type="submit"], input[type="button"] {
    width: 105px;
}

#Age {
    width: 55px;
}

#returnBtn>button {
    margin: 5px 0 0 15px;
    width: 105px;
    font-family: Cursive, Comic Sans MS, sans-serif;
    color: white;
}

@media (max-width: 1200px) {

    header {
        height: 405px;
        background-image: url(../img/jpg17.jpg);
        background-size: 74%;
        background-repeat: no-repeat;
        background-position: 88% 100%;
        font-family: Cursive, Comic Sans MS, sans-serif;
    }

    form {
        width: auto;
        margin: 8px 0 0 367px;
    }

    .input-control {
        display: initial;
        width: 298px;
        clear: both;
    }

    .lead {
        font-size: 21px;
    }
}