body {
	background: url("../img/fons/jpg2.jpg") fixed;
}

.container {
	background-color: #fff;
	padding: 10px 10px 20px 10px;
	min-width: 730px;
	margin-top: 5%;
	margin-bottom: 5%;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	-webkit-box-shadow: -6px 12px 50px black;
	-moz-box-shadow: -6px 12px 50px black;
	box-shadow: -6px 12px 50px black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Cursive, Comic Sans MS, sans-serif;
	font-weight: bold;
}

hr {
	margin: 15px 15px 10px 15px;
	border: 0;
	border-top: 3px solid black;
}

header {
	height: 236px;
	background-image: url(../img/jpg16.jpg);
	background-size: 38%;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	font-family: Cursive, Comic Sans MS, sans-serif;
	padding-bottom: 14px;
}

header div>h1, p {
	padding-right: 15px;
	padding-left: 15px;
}

header div>p {
	margin-top: 20px;
}

form {
	width: auto;
	clear: both;
}

form input {
	padding: 5px;
}

.input-control {
	display: initial;
	width: 140px;
	clear: both;
}

form input:first-child {
	margin: 5px 0 11px 16px;
}

form input[placeholder="Тип питомца"] {
	margin-left: 16px;
}

form select {
	padding: 5px;
}

form input[type="submit"], input[type="button"] {
	width: 105px;
	margin-left: 5px;
}

.body {
	height: auto;
}

.body h1, td[colspan="5"] {
	font-size: 1.5em;
	font-style: italic;
}

.table {
	max-width: 700px;
	margin: auto;
	margin-top: -36px;
	border-color: black;
}

.table caption {
	text-align: center;
	font-family: Cursive, Comic Sans MS, sans-serif;
	font-weight: bold;
	font-size: 23px;
	color: #286090;
}

.table th:first-child, td:first-child {
	font-weight: bold;
	border-right: 2px solid black;
	min-width: 150px;
}

.table td:last-child {
	width: 100px;
}

.table th {
	background-color: #286090;
	border-bottom: 2px solid black;
	min-width: 100px;
	text-align: center;
	font-weight: normal;
	font-style: italic;
	color: white;
}

.table td {
	height: 20px;
}

.table tbody>tr>td {
	text-align: center;
	vertical-align: middle;
	color: black;
}

.table>tbody>tr>td:last-child {
	padding: 4px 0 2px 0;
}

.table>tbody>tr>th {
	vertical-align: middle;
}

.table>tbody>tr>th:last-child {
	width: 110px;
}

.table tr>td>a {
	font-size: 0.9em;
	vertical-align: top;
}

.table tr>td>a:hover {
	cursor: pointer;
}

.table tr>td>a:last-child:hover {
	color: red;
}

#Age {
	width: 55px;
}

#searchBtn>button {
	margin: 5px 0 0 15px;
	width: 105px;
	font-family: Cursive, Comic Sans MS, sans-serif;
	color: white;
}

@media (max-width: 1200px) {
	header {
		background-size: auto 195px;
		background-position: 100% -12%;
	}

	.lead {
		font-size: 21px;
	}
}