# Игнорирование директорий во всех директориях, не учитывая текущую директорию
*/**/.idea
*/**/target
*/classes
*/**/out
*/**/lib
*/**/Logging
# Игнорирование файлов во всех директориях, учитывая текущую
*.iml
*.log
# Игнорирование файла .gitignore во всех директориях, учитывая текущую
# .gitignore